body {
    padding-top: 60px;
}

#palette-sidebar {
    width: 150px;
    height: 700px;
    float: left;
    margin-left: 10px;
}

#palette {
    background-color: #F0F0F0;
    width: 150px;
    height: 663px;
    overflow-y: scroll;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#palette-toolbar {
    width: 150px;
    margin-bottom: -2px;
}

#sidebar {
    background-color: #F0F0F0;
    width: 300px;
    height: 720px;
    overflow-y: scroll;
    float: right;
    margin-right: 10px;
}

#workspace {
    overflow: hidden;
}

#workspace-container {
    position: relative;
    height: 720px;
    overflow: scroll;
    background-color: #FBFBFB;
    margin-left: 10px;
    margin-right: 10px;
}

#chart {
    position: relative;
    z-index: 100;
    background-color: #FFFFFF;
    width: 1500px;
    height: 1500px;
    margin: 10px;
}
#navs {
    padding-right: 110px;
}

.start {
    width: 35px;
    height: 25px;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 30px;
    
}

.stop {
    width: 35px;
    height: 25px;
    border: 1px solid black;
    border-radius: 25px;
    margin-left: 30px;
}

.init {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(0,255,0);
    margin-left: 2px;
    margin-top: 2px;
}

.function {
    width: 100px;
    height: 75px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}

.resource {
    width: 100px;
    height: 75px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    z-index: 5;
}

.panel-default {
    margin-bottom: 10px;
}

.window {
    z-index: 20;
}

._jsPlumb_connector {
    z-index: 1;
}
._jsPlumb_endpoint {
    z-index: 0;
}